body{
    display: flex;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
    margin: 20px;
}

.wrapper{
    position: relative;
    width: 250px;
    height: 250px;
    margin-left: 150px;
}

@keyframes circle{
    0%, 100%{
        transform: scale(.5);
        opacity: 0.1;
    }

    50%{
        transform: scale(1);
        opacity: 1;
    }
}

.circle{
    width: 50px;
    height: 50px;
    background-color: rgb(68, 4, 68);
    border-radius: 50%;
    animation: circle 0.8s infinite both;

    &:nth-child(1){
        position: absolute;
        left: 100px;
        top: 10px;
    }

    &:nth-child(2){
        position: absolute;
        top: 35px;
        left: 165px;
        animation-delay: .1s;
    }

    &:nth-child(3){
        position: absolute;
        left: 190px;
        top: 100px;
        animation-delay: .2s;
    }
    
    &:nth-child(4){
        position: absolute;
        top: 165px;
        left: 165px;
        animation-delay: .3s;
    }
    
    &:nth-child(5){
        position: absolute;
        top: 190px;
        left: 100px;
        animation-delay: .4s;
    }
    
    &:nth-child(6){
        position: absolute;
        top: 165px;
        left: 35px;
        animation-delay: .5s;
    }
    
    &:nth-child(7){
        position: absolute;
        top: 100px;
        left: 10px;
        animation-delay: .6s;
    }
    
    &:nth-child(8){
        position: absolute;
        top: 35px;
        left: 35px;
        animation-delay: .7s;
    }
}

.cube-wrapper{
    display: flex;
    justify-content: space-between;
}

@keyframes animation{
    
    25%{
        transform: translate(175px, 0) scale(.5) rotate(90deg);
    }

    50%{
        transform: translate(175px, 175px) scale(1) rotate(180deg);
    }

    75%{
        transform: translate(0, 175px) scale(.5) rotate(270deg);
    }

    100%{
        transform: translate(0, 0) scale(1) rotate(180deg);
    }
}


@keyframes move{
    
    25%{
        transform: translate(-175px, 0) scale(.5) rotate(90deg);
    }

    50%{
        transform: translate(-175px, -175px) scale(1) rotate(180deg);
    }

    75%{
        transform: translate(0, -175px) scale(.5) rotate(270deg);
    }

    100%{
        transform: translate(0, 0) scale(1) rotate(180deg);
    }
}



.cube{
    width: 75px;
    height: 75px;
    background-color: rgb(56, 11, 99);
    position: absolute;

    &:first-child{
        animation: animation 2s infinite both;
    }

    & + .cube{
        position: absolute;
        bottom: 0;
        right: 0;
        animation: move 2s infinite both;
    }
}

.pulse-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulser{
    50%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes pulser2{
    0%, 100%{
        transform: scale(1);
    }
    
    50%{
        transform: scale(3);
    }
}



.pulse{
    width: 80px;
    height: 80px;
    background-color: rgb(93, 25, 156);
    opacity: .5;
    border-radius: 50%;
    animation: pulser 1.3s infinite both ease-in-out; 
    animation-delay: .1s;

    & + .pulse{
        position: absolute;
        opacity: .3;
        animation: pulser2 1.3s infinite both ease-in-out;
    
    }
}